* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    position: absolute;
    left: 0; 
    top: 0; 
    width: 50%;
    z-index: 20;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    a {
        display: block;
        color: rgb(255, 255, 255);
        padding: 14px 16px;
    }
}

#main {
    background-color: #32cfff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

#bird {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 25%;
    bottom: 50%;
    background-image: url('../img/bird.png');
    background-size: cover;
}
h1 {
    position: absolute;
    left: 44%;
    top: 10%;
    color: rgb(0, 0, 0);
    z-index: 10;
}
#score {
    position: absolute;
    left: 47%;
    top: 15%;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    z-index: 10;
}

.column {
    width: 60px;
    background-color: green;
    border: inset 10px rgb(55, 210, 55);
}

#game-over {
    background-color: green;
    border: inset 10px rgb(55, 210, 55);
    position: absolute;
    left: 35%;
    padding: 30px;
    top: 40%;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
    width: 30%;
    text-align: center;
    z-index: 10;
    display: none;
    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: rgb(0, 255, 0);
        color: rgb(0, 0, 0);
    }
}
#background {
    background-image: url('../img/background.png');
    background-size: cover;
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    animation: moveClouds 40s linear infinite;
}

/* Keyframes for moving clouds */
@keyframes moveClouds {
    0% {background-position: 0 0;}
    100% {background-position: -3840px 0;}
}
